#message-list li {
    display: block;
    /* overflow-wrap: break-word; */
    /* border-right: .15em solid orange; */
    word-wrap: break-word;
    margin-bottom: 90px;
    /* animation: typing 1.2s steps(30, end); */
  }

  #message-form {
    position: fixed;
    width: 100%;
    bottom: 0;
}

  #message-list li::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: bottom;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

  .spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #999;
    border-top-color: #333;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }