<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#message-form').submit(async function (event) {
                event.preventDefault();

                    const input_message = $('#message-form input[name=message]').val()

                    $('#message-list').append('<li><strong>' + input_message + '</strong></li>');

                    side_track(input_message);

                    const response = await fetch('/submit_message', {
                        method: 'POST',
                        body: JSON.stringify({ message: input_message }),
                        headers: { 'Content-Type': 'application/json' },
                    });

                    // Reset the message input field
                    $('#message-form')[0].reset();

                    const newMessage = document.createElement('li');
                    $('#message-list').append(newMessage);
                    newMessage.innerHTML += response

   
            });
        });

        async function side_track(question) {
            const response = fetch('/side_track', {
                        method: 'POST',
                        body: JSON.stringify({ message: question }),
                        headers: { 'Content-Type': 'application/json' },
                    });
            alert('Getting questions')
        }
    </script>
</head>

<body>
    <ul id="message-list">
        <li>Message list.</li>
        <!-- Existing messages will be inserted here -->
    </ul>
    <form id="message-form" method="POST">
        <input type="text" name="message" placeholder="Enter your message">
        <button type="submit">Submit</button>
    </form>
</body>

</html>